<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ToolkitPath" value="\\SankaraSubrahmanyam-PC\D$\Files\Toolkit" />
		<add key="FeedbackPath" value="\\SankaraSubrahmanyam-PC\D$\Files\Feedback" />
		<add key="ArchivePath" value="\\SankaraSubrahmanyam-PC\D$\Package_Archive" />
		<add key="BasePath" value="C:\Temp\PackageConsole" />
		<add key="CentralBasePath" value="\\SankaraSubrahmanyam-PC\Feedback" />
		<add key="CompletedPackagesPath" value="\\nas00036pn\Cert-Staging\2_Completed Packages" />
		<add key="BasePackagePath" value="C:\Temp\PackageConsole" />
		<add key="ScannerReportPath" value="C:\Temp\AppTesting\Reports\SystemScannerLogs" />
		<add key="AdminUsers" value="sankara,venkat,archana,dell" />
		<add key="DevUsers" value="sankara,dell" />
	</appSettings>
</configuration>
